@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
/* ============================moon================== */

.earth {
  animation: orbit 36.5s linear infinite;
  border: none;
}

.moon {
  animation: orbit 5.7s linear infinite;
  border: none;
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}

/* ============================reflection================== */

.reflection a {
  -webkit-box-reflect: below 1px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.book {
  perspective: 2000px;
}

.book:hover .cover {
  transform: rotateY(-180deg);
}

.ashoka-rotate {
  animation: ashoka 30s infinite linear;
}

@keyframes ashoka {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* text animation */

.box .child-box:first-child {
  transform: perspective(100px) rotateY(-15deg);
}

.box .child-box:last-child {
  transform: perspective(100px) rotateY(15deg);
}

.box .child-box span {
  animation: marquee 5s linear infinite;
}

.box .child-box:first-child span {
  animation-delay: 2.5s;
}

@keyframes marquee {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}

/* loader */

.white-box {
  animation: animate 4s ease-in-out infinite;
  animation-delay: -2s;
}

.pink-circle {
  animation: animate 4s ease-in-out infinite;
}

.span-circle{
  z-index: 2;
}

@keyframes animate {
  0% {
    transform: translate(-150px, 50px) scale(0.4) rotate(0deg);
    z-index: 1;
  }

  50% {
    z-index: 1;
    transform: translate(150px, -50px) scale(0.4) rotate(180deg);
  }

  50.0001% {
    transform: translate(150px, -50px) scale(0.4) rotate(180deg);
    z-index: 3;
  }

  100% {
    transform: translate(-150px, 50px) scale(0.4) rotate(360deg);
    z-index: 3;
  }
}

@media (max-width:990.99px) {
  .custom-toast {
    min-height: 5px !important;
    width: 300px;
    border-radius: 8px;
  }
}

/* hover menu */

.parent-ul{
  transform: skewY(-15deg);
}

.list{
  transition: .5s;
  background-color: #3e3f46;
  z-index: var(--i);
}

.list::before{
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  transform-origin: right;
  transform: skewY(45deg);
  background-color: #2e3133;
  transition: .5s;
}

.list::after{
  content: '';
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 40px;
  transform-origin: bottom;
  transform: skewX(45deg);
  background-color: #35383e;
  transition: .5s;
}

.list:hover::before{
  background-color: #1f5378;
}
.list:hover::after{
  background-color: #2982b9;
}

.list:hover a{
  color: #fff;
}

.list:last-child::after{
  box-shadow: -120px 120px 20px #35383e;
}
