@tailwind base;
@tailwind components;
@tailwind utilities;

.earth {
    animation: orbit 36.5s linear infinite;
    border: none;
}
.moon {
    animation: orbit 5.7s linear infinite;
    border: none;
}

@keyframes orbit{
    to{
        transform: rotate(360deg) ;
    }
}